{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <title>Vending machine</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
  </head>

  <body class="bg-light">

    <div class="container" id="vending_machine">
      <div class="py-5 text-center">
        <h2>Vending machine</h2>
      </div>
      <div class="row">
        <div class="col-md-4 order-md-3 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Товары</span>
            <span class="badge badge-secondary badge-pill">[[products.length]]</span>
          </h4>
          <ul class="list-group mb-3">
            <li 
              class="list-group-item d-flex justify-content-between lh-condensed"
              v-for="(product,pid) in products">
              <div>
                <h6 class="my-0">[[ product.title ]] ([[ product.count ]] шт.)</h6>
                <button 
                  type="button" 
                  class="btn btn-primary">Купить</button>
              </div>
              <span class="text-muted">[[ product.price ]] р.</span>
            </li>
          </ul>
        </div>
        <div class="col-md-4 order-md-1">
          <h4 class="mb-3">Ваши монеты</h4>
          <div>
            <div v-for="(cash,cid) in userCash">
              <div 
                class="numberCircle" 
                @click="putCoin(cash.id)">
                  [[cash.value]]
              </div>
              <div class="cointCount"> - [[cash.count]] шт.</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 order-md-2">
          <h4 class="mb-3">Монеты автомата</h4>
            <div>
            <div v-for="(cash,cid) in machineCash">
              <div class="numberCircle">[[cash.value]]</div>
              <div class="cointCount"> - [[cash.count]] шт.</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <form>
            <div class="form-group">
              <label>Информация:</label>
              <strong>[[ message ]]</strong>
            </div>
            <div class="form-group">
              <label for="userCashInMachine">Внесенная сумма:</label>
              <input id="userCashInMachine" class="form-control" type="text" :placeholder="cashSumm + ' р.'" readonly>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-primary btn-lg" @click="returnCoin">Получить сдачу</button>
            </div>
          </form>
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2008-2019 AgniyInc</p>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{% static 'bootstrap/assets/js/vendor/jquery-slim.min.js' %}"><\/script>')</script>
    <script src="{% static 'bootstrap/assets/js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/assets/js/vendor/holder.min.js' %}"></script>
    <script src="{% static 'js/vue.min.js' %}"></script>
    <script src="https://unpkg.com/vue-resource@1.5.1/dist/vue-resource.min.js"></script>
    <script>
      Vue.mixin({ delimiters: ['[[',']]'] });
      var v = new Vue({
          el: '#vending_machine',
          data: {
            csrf_token:"{{ csrf_token }}",

            products:JSON.parse('{{ json_products|safe }}'),
            userCash:JSON.parse('{{ json_user_cash|safe }}'),
            machineCash:JSON.parse('{{ json_machine_cash|safe }}'),
            cashSumm:{{ user_vm_summ }},
            message:"..."
          },
          methods:{
            putCoin(cash_id){
              var self = this;
              const formData = {
                "cash_id":cash_id,
                "csrfmiddlewaretoken":this.csrf_token,
                "action":"put_coin"
              };

              this.$http.post("/", formData, {emulateJSON: true})
              .then(response => {
                const data = response.body;
                if(data.success){
                  self.userCash[cash_id].count = data.user_vm_count;
                  self.cashSumm = data.user_vm_summ;
                }
              }, response => {
                console.error(response.body);
              });
            },
            returnCoin(){
              var self = this;
              const formData = {
                "csrfmiddlewaretoken":this.csrf_token,
                "action":"return_coin"
              };

              this.$http.post("/", formData, {emulateJSON: true})
              .then(response => {
                const data = response.body;
                if(data.success){
                  self.userCash = data.user_cash;
                  self.machineCash = data.vm_cash;
                  self.cashSumm = data.user_vm_summ;
                  self.message = data.return_coins_str;
                }
              }, response => {
                console.error(response.body);
              });
            }
          }
      });
    </script>
  </body>
</html>
